@model IEnumerable<ProfiseeDemo.Models.Sales>

@{
    ViewData["Title"] = "Quarterly Sales";
}

<div class="text-center">
    <h1 class="display-4">Quarterly Sales</h1>
    
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalesPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesCommission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalesPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesCommission)
            </td>
        </tr>
}
    </tbody>
</table>